<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">


  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

          <!-- ***** Featured Games Start ***** -->
          <div class="row">
            <div class="col-lg-8">
              <div class="featured-games header-text">
                <div class="heading-section">
                  <h4><em >Featured</em> Games</h4>
                </div>
                <div class="owl-features owl-carousel">
                
                
                  <div class="item" th:each="img, status: ${imgList}">
                    <div class="thumb">
                     <a> <img th:src="${img.ImgUrl}"></a>

                    </div>
                    <h4 th:text="${img.name}"><br><span >249K Downloads</span></h4>
                    <ul>
                      <li><i class="fa fa-star"></i> [[${img.level}]]</li>

                    </ul>
                    <a type="button" th:href="'/admin/update/'+${img.id}" class="btn btn-primary">수정</a>
					<a type="button" th:href="'/admin/delete/'+${img.id}" class="btn btn-secondary">삭제</a>
                  </div>
                
                
                  
                 
        
                </div>
              </div>
            </div>
          </div>
          
          <div class="row">
            
            <div class="col-lg-12">
              <div class="top-streamers">
                <div class="heading-section">
                  <h4><em></em> Reservation</h4>
                  
                </div>
    <ul>
				<th:block th:each="res, status: ${reserve}">
                  <li>
                    <span>아이디:&nbsp  [[${res.id}]]</span>
                    <span>이름:&nbsp  [[${res.name}]]</span>
                    <span>날짜:&nbsp  [[${res.date}]]</span>
                    <span>시간:&nbsp  [[${res.time}]]</span>
                    <span>전화번호:&nbsp  [[${res.cal}]]</span>
                    <span>테마이름:&nbsp  [[${res.themeName}]]</span>
                    <span>인원:&nbsp  [[${res.cnt}]]명</span>

					<a type="button" th:href="'/admin/delete/'+${res.id}" id="btn_sub" class="btn btn-secondary">예약삭제</a>

                  </li>
 				</th:block>
                   
                  
                </ul>
                
              </div>
            </div>
          </div>
          <!-- ***** Featured Games End ***** -->


          

        </div>
      </div>
    </div>
  </div>
  

</div>

</html>
