<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout2}">



<div layout:fragment="content">

 
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

       

          <!-- ***** Live Stream Start ***** -->
          <div class="live-stream">
            <div class="col-lg-12">
              <div class="heading-section">
                <h4 th:text="${date}"><em>Most Popular</em> Live Stream</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-sm-6">
                <div class="item">
                  <div class="thumb">
                    <img src="assets/images/us.jpg" alt="">
                    <div class="hover-effect">
                      <div class="content">
                        <div class="live">
                          <a href="#">Live</a>
                        </div>
                        <ul>
                          <li><a href="#"><i class="fa fa-eye"></i> 1.2K</a></li>
                          <li><a href="#"><i class="fa fa-gamepad"></i> CS-GO</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="down-content">
                    
                    <h4 style="padding-left: 48px">Us</h4>
                  </div> 
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="item">
                  <div class="thumb">
                    <img src="assets/images/eddy.jpg" alt="">
                    <div class="hover-effect">
                      <div class="content">
                        <div class="live">
                          <a href="#">Live</a>
                        </div>
                        <ul>
                          <li><a href="#"><i class="fa fa-eye"></i> 1.2K</a></li>
                          <li><a href="#"><i class="fa fa-gamepad"></i> CS-GO</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="down-content">
                   
                    <h4 >Film by eddy</h4>
                  </div> 
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="item">
                  <div class="thumb">
                    <img src="assets/images/wizard.jpg" alt="">
                    <div class="hover-effect">
                      <div class="content">
                        <div class="live">
                          <a href="#">Live</a>
                        </div>
                        <ul>
                          <li><a href="#"><i class="fa fa-eye"></i> 1.2K</a></li>
                          <li><a href="#"><i class="fa fa-gamepad"></i> CS-GO</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="down-content">
                    <div class="avatar">
                    
                    </div>
                  
                    <h4 style="padding-left: 30px">Wizard</h4>
                  </div> 
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="item">
                  <div class="thumb">
                    <img src="assets/images/robot.jpg" alt="">
                    <div class="hover-effect">
                      <div class="content">
                        <div class="live">
                          <a href="#">Live</a>
                        </div>
                        <ul>
                          <li><a href="#"><i class="fa fa-eye"></i> 1.2K</a></li>
                          <li><a href="#"><i class="fa fa-gamepad"></i> CS-GO</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="down-content">
                    <div class="avatar">
                      <img src="assets/images/.jpg" alt="" style="max-width: 46px; border-radius: 50%; float: left;">
                    </div>
                  
                    <h4 style="padding-left: 35px">삐릿뽀</h4>
                  </div> 
                </div>
              </div>
              
         
             
              
            </div>
          </div>
          <!-- ***** Live Stream End ***** -->
          
          <!-- ***** Featured Games Start ***** -->
          <div class="row">
            
            <div class="col-lg-12">
              <div class="top-streamers">
                <div class="heading-section">
                  <h4><em></em> Reservation</h4>
                  
                </div>
                <div class="date_div" >

    
    <label>min & max</label>
  
       </div>
    <ul>

                  <li>
                    <span>01</span>
                   
                    <a><i class="fa fa-check"></i> film by eddy</a>
                    <div class="main-button">
                    
                    
                    

                    
                      <a>11:00</a>   
   
 
						 </div>
                  </li>
 
                   
                  
                </ul>
                
              </div>
            </div>
          </div>
          <!-- ***** Featured Games End ***** -->

        </div>
      </div>
    </div>
  </div>


</div>
<th:block layout:fragment="script">

<script>


const input = document.getElementById("dayday");




document.getElementById('dayday').min = new Date().toISOString().substring(0, 10);



input.addEventListener("input", function(e) {
    console.log(e.target.value); // 값이 바뀔때마다 찍힘
    history.replaceState(null,null,'/streams/'+e.target.value); 
    location.reload();
    document.getElementById("test").setAttribute("href", teval+"/" +e.target.value);
    
})




</script>

 </th:block>


</html>
