<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">


<div layout:fragment="content">

 
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

          <!-- ***** Banner Start ***** -->
          <div class="main-banner">
            <div class="row">
              <div class="col-lg-7">
                <div class="header-text">
                  <h6>Welcome To Secret Code</h6>
                  <h4><em>Reservation</em> Our Popular Theme</h4>
                  <div class="main-button">
                    <a href="/streams">Reservation Now</a>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Banner End ***** -->

          <!-- ***** Most Popular Start ***** -->
          <div class="most-popular">
            <div class="row">
              <div class="col-lg-12">
                <div class="heading-section">
                  <h4><em>Most Popular</em> Right Now</h4>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-sm-6">
                    <div class="item">
                      <img src="assets/images/back.jpg" alt="">
                      <h4>Back To the Scene<br><span>Sandbox</span></h4>
                      <ul>
                        <li><i class="fa fa-star"></i> 4.8</li>
                        <li><i class="fa fa-download"></i> 2.3M</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                    <div class="item">
                      <img src="assets/images/wizard.jpg" alt="">
                      <h4>Wizard<br><span>Battle S</span></h4>
                      <ul>
                        <li><i class="fa fa-star"></i> 4.8</li>
                        <li><i class="fa fa-download"></i> 2.3M</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                    <div class="item">
                      <img src="assets/images/robot.jpg" alt="">
                      <h4>삐릿뽀<br><span>Steam-X</span></h4>
                      <ul>
                        <li><i class="fa fa-star"></i> 4.8</li>
                        <li><i class="fa fa-download"></i> 2.3M</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                    <div class="item">
                      <img src="assets/images/angelio.jpg" alt="">
                      <h4>Angelio<br><span>Legendary</span></h4>
                      <ul>
                        <li><i class="fa fa-star"></i> 4.8</li>
                        <li><i class="fa fa-download"></i> 2.3M</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="item">
                      <div class="row">
                        <div class="col-lg-6 col-sm-6">
                          <div class="item inner-item">
                            <img src="assets/images/eddy.jpg" alt="">
                            <h4>film by eddy<br><span>Memory Company</span></h4>
                            <ul>
                              <li><i class="fa fa-star"></i> 4.8</li>
                              <li><i class="fa fa-download"></i> 2.3M</li>
                            </ul>
                          </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                          <div class="item">
                            <img src="assets/images/steve.jpg" alt="">
                            <h4>film by steve<br><span>Memory Company</span></h4>
                            <ul>
                              <li><i class="fa fa-star"></i> 4.8</li>
                              <li><i class="fa fa-download"></i> 2.3M</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                    <div class="item">
                      <img src="assets/images/us.jpg" alt="">
                      <h4>Us<br><span>would you like</span></h4>
                      <ul>
                        <li><i class="fa fa-star"></i> 4.8</li>
                        <li><i class="fa fa-download"></i> 2.3M</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                    <div class="item">
                      <img src="assets/images/home.jpg" alt="">
                      <h4>Wanna Go Home<br><span>would you like</span></h4>
                      <ul>
                        <li><i class="fa fa-star"></i> 4.8</li>
                        <li><i class="fa fa-download"></i> 2.3M</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Most Popular End ***** -->

          <!-- ***** Gaming Library Start ***** -->
          <div class="gaming-library">
            <div class="col-lg-12">
              <div class="heading-section">
                <h4><em>Your escape</em> Library</h4>
              </div>
              <div class="item">
                <ul>
                  <li><img src="assets/images/eddy.jpg" alt="" class="templatemo-item"></li>
                  <li><h4>Film by eddy</h4><span>Memory Company</span></li>
                  <li><h4>Date played</h4><span>23/08/02</span></li>
                  <li><h4>Hours Played</h4><span>1 H 02 Mins</span></li>
                  <li><h4>Success</h4><span>X</span></li>
                  <li><div class="main-border-button border-no-active"><a href="#">commented</a></div></li>
                </ul>
              </div>
              <div class="item">
                <ul>
                  <li><img src="assets/images/us.jpg" alt="" class="templatemo-item"></li>
                  <li><h4>Us</h4><span>would you like</span></li>
                  <li><h4>Date played</h4><span>23/02/01</span></li>
                  <li><h4>Hours Played</h4><span>00 H 52 Mins</span></li>
                  <li><h4>Success</h4><span>O</span></li>
                  <li><div class="main-border-button"><a href="#">comment</a></div></li>
                </ul>
              </div>
              <div class="item last-item">
                <ul>
                  <li><img src="assets/images/wizard.jpg" alt="" class="templatemo-item"></li>
                  <li><h4>Wizard</h4><span>Memory Company</span></li>
                  <li><h4>Date played</h4><span>23/01/04</span></li>
                  <li><h4>Hours Played</h4><span>01 H 14 Mins</span></li>
                  <li><h4>Success</h4><span>O</span></li>
                  <li><div class="main-border-button border-no-active"><a href="#">commented</a></div></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-12">
             
            </div>
          </div>
          <!-- ***** Gaming Library End ***** -->
        </div>
      </div>
    </div>
  </div>
  



 </div>

</html>
