<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">


<div layout:fragment="content">

 
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

          <!-- ***** Banner Start ***** -->
          <div class="main-banner">
            <div class="row" style="justify-content: flex-start;">
              <div class="col-lg-7">
                <div class="header-text">
                  <h6>Welcome To Secret Code</h6>
                  <h4><em>Reservation</em> Our Popular Theme</h4>
                  <div class="main-button">


                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Banner End ***** -->

          <!-- ***** Most Popular Start ***** -->
          <div class="most-popular">
            <div class="row">
              <div class="col-lg-12">
                <div class="heading-section">
                  <h4><em>Most Popular</em> Right Now</h4>
                </div>
                <div class="row">
          <th:block th:if="${!imgList.isEmpty()}" th:each="img, status: ${imgList}">
                  <div class="col-lg-3 col-sm-6">
                    <div class="item">
                    <a th:href="'/details/' + ${img.id}+ '/'+ ${now}"><img th:src="${img.ImgUrl}" alt=""></a>
                      <h4 th:text="${img.name}">Back To the Scene<br><span th:text="${img.name}">Sandbox</span></h4>
                      <ul>
                        <li th:text="${level}"><i class="fa fa-star"></i><h3></h3></li>
                        <li><i class="fa fa-download"></i> 2.3M</li>
                      </ul>
                    </div>
                  </div>
        </th:block>
         </div>
          </div>
           </div>
            </div>

          <!-- ***** Most Popular End ***** -->

        </div>
      </div>
    </div>
  </div>
  



 </div>
<th:block layout:fragment="script">

<script>


const input = document.getElementById("dayday");




document.getElementById('dayday').min = new Date().toISOString().substring(0, 10);



input.addEventListener("input", function(e) {
    console.log(e.target.value); // 값이 바뀔때마다 찍힘
    history.replaceState(null,null,'/details/'+e.target.value); 
    location.reload();
    document.getElementById("test").setAttribute("href", teval+"/" +e.target.value);
    
})




</script>

 </th:block>
</html>
