<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout2}">



<div layout:fragment="content">

 
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="page-content">

       

          <!-- ***** Live Stream Start ***** -->
          <div class="live-stream">
           
            <div class="row">
             <th:block th:each="theme, status: ${searchthemeIdList}">
              <div class="col-lg-9 col-sm-9">
                <div class="item">
                  <div class="thumb">
                    <img th:src="${theme.imgUrl}" th:alt="${theme.name}">
                  
                    <div class="hover-effect">
                      <div class="content">
                        <div class="live">
                          <a th:text="${theme.name}">us</a>
                        </div>
                        <ul>
                          <li><a><i class="fa fa-eye"></i> 1.2K</a></li>
                          <li><a><i class="fa fa-gamepad"></i> CS-GO</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="down-content">

                  </div> 
                </div>
              </div>
                    </th:block>
             

              
         
             
              
            </div>
          </div>
          <!-- ***** Live Stream End ***** -->
          
          <!-- ***** Featured Games Start ***** -->
          <div class="row">
            
            <div class="col-lg-12">
              <form class="top-streamers" th:object="${reserveDto}" name="reserve" role="form" action="/reserve" method="post" enctype="multipart/form-data" >
                <div class="heading-section">
                  <h4><em></em> Reservation</h4>
                </div>
                <div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">Time</span>
 <input type="text" th:field="*{time}" id="test" value="" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
					<div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
  <input type="text" th:field="*{name}"  class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>

<div class="input-group mb-3">
  <span class="input-group-text"  id="inputGroup-sizing-default">theme</span>
  <input type="text" th:field="*{themeName}"id="the" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>

<div class="input-group mb-3">
  <span class="input-group-text"  id="inputGroup-sizing-default">date</span>
  <input type="date" th:field="*{date}" id="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>

<div class="input-group mb-3">
  <span class="input-group-text"  id="inputGroup-sizing-default">Phone</span>
  <input type="text" th:field="*{cal}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>

<div class="input-group mb-3">
  <span class="input-group-text"  id="inputGroup-sizing-default">people</span>
  <input type="text" th:field="*{cnt}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
	<button type="submit" class="btn btn-success">Success</button>

	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
              </form>	
            </div>
          </div>
          <!-- ***** Featured Games End ***** -->

        </div>
      </div>
    </div>
  </div>


</div>
<th:block layout:fragment="script">

<script>
const receivedData = location.href.split('/')[4];
const receivedData2 = location.href.split('/')[5];
const receivedData3 = location.href.split('/')[6];

// 전달받은 데이터가 한글일 경우


const res = decodeURI(receivedData);
const the = decodeURI(receivedData2);
const date = decodeURI(receivedData3);

document.getElementById("test").value = res;
document.getElementById("the").value = the;
document.getElementById("date").value = date;




</script>

 </th:block>
</html>
