<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">


  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

          <!-- ***** Featured Start ***** -->
	 <th:block th:each="img, status: ${searchthemeImgIdList}">
          <div class="row">
            <div class="col-lg-12">
              <div class="feature-banner header-text">
                <div class="row">
                  <div class="col-lg-4">
                    <img th:src="${img.imgUrl}" alt="" style="border-radius: 23px;">
                  </div>
                  <div class="col-lg-8">
                    <div class="thumb">
                    	<div class="com">
                    	<h1 style="margin:10px">Review</h1>
                    	</div>
                    	 <th:block th:each="cmt, status: ${comment}">
                    <p>[[${cmt.score}]]★ [[${cmt.createBy}]]: [[${cmt.cmt}]]</p>
					</th:block>
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
           </th:block>
          <!-- ***** Featured End ***** -->

          <!-- ***** Details Start ***** -->
          <th:block th:each="theme, status: ${searchthemeIdList}">
          <div class="game-details">
            <div class="row">
              <div class="col-lg-12">
                <h2 >Details</h2>
              </div>
              <div class="col-lg-12">
                <div class="content">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="left-info">
                        <div class="left">
                          <h4 th:text="${theme.name}">Film by Eddy</h4>
                          <span>Memory Company</span>
                        </div>
                        <ul>
                          <li><i class="fa fa-star"></i> 4.8</li>
                          <li><i class="fa fa-download"></i> 2.3M</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="right-info">
                        <ul>
                          <li><i class="fa fa-star"></i> 4.8</li>
                          <li><i class="fa fa-download"></i> 2.3M</li>
                          <li><i class="fa fa-server"></i> 36GB</li>
                          <li><i class="fa fa-gamepad"></i> Action</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <img src="/assets/images/memory1.jpg" alt="" style="border-radius: 23px; margin-bottom: 30px;">
                    </div>
                    <div class="col-lg-4">
                      <img src="/assets/images/memory2.jpg" alt="" style="border-radius: 23px; margin-bottom: 30px;">
                    </div>
                    <div class="col-lg-4">
                      <img src="/assets/images/memory3.jpg" alt="" style="border-radius: 23px; margin-bottom: 30px;">
                    </div>
                    <div class="col-lg-12">
                      <pre style="color:white">[[${theme.detail}]]</pre>
                    </div>
                    <div class="col-lg-12">

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Details End ***** -->

          <!-- ***** Other Start ***** -->
          <div class="other-games">
            <div class="row">
			              <div class="top-streamers">
                <div class="heading-section">
                  <h4><em></em> Reservation</h4>
                  
                </div>
                <div class="date_div" >
				<input id="theme_id" th:value="${theme.id}" style="display:none">
    

    <input id="dayday" type="date" th:value="${date}"  max="2023-08-11" style="color:black">
       </div>
                    
                    
   						               	<div class="wrap">
	<a class="button" th:if="${time11}" th:href="'/reserve/' +'11:00' +'/'+ ${theme.name} +'/'+ ${date}" >11:00</a>
	<a class="button" th:if="${time12}" th:href="'/reserve/' +'12:00' +'/'+ ${theme.name} +'/'+ ${date}">12:00</a>
	<a class="button" th:if="${time13}" th:href="'/reserve/' +'13:00' +'/'+ ${theme.name} +'/'+ ${date}">13:00</a>
											
											</div>
 

              </div>

             
             
            </div>
          </div>
          <!-- ***** Other End ***** -->
		
        </div>
      </div>
    </div>
  </div>
  

</div>
<th:block layout:fragment="script">

<script>


const input = document.getElementById("dayday");




document.getElementById('dayday').min = new Date().toISOString().substring(0, 10);
const theme_id = document.getElementById('theme_id').value


input.addEventListener("input", function(e) {
    console.log(e.target.value); // 값이 바뀔때마다 찍힘
    history.replaceState(null,null,'/details/'+ theme_id +'/' +e.target.value); 
    location.reload();
    document.getElementById("test").setAttribute("href", teval+"/" +e.target.value);
    
})




</script>

 </th:block>

</html>
